.zys_card {
  position: relative;
  float:left;
  margin-right: 10px;
  border: 1px solid #D3DCE6;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}

.zys_card_header {
  height: 30px;
  background:lightblue;
  padding: 5px 0;
  text-align: center;
}

.zys_card_content {
  padding:5px 0px;
  font-size: 13px;
  text-align: left;
}

.zys_card_content a {
  color: black;
}

.zys_card_title {
  font-size: 16px;
  font-weight: bold;
  font-family: serif;
}

.zys_card_img {
  vertical-align: middle;
}

.zys_card_link_item {
  padding:1px 10px;
  margin-bottom:2px;
  a {
    display: block;
    position: relative;
    float: right;
    width: 160px;
    text-decoration: none;
  }
  &_even {
    background-color: aliceblue;
  }
  &_odd {
    background-color: lightblue;
  }
}
