$icomoon-font-path: "./xiguafont/fonts" !default;

$icon-cancel: "\e5c9";
$icon-check_circle: "\e86c";
$icon-error: "\e000";
$icon-error_outline: "\e001";
$icon-help: "\e887";
$icon-help_outline: "\e8fd";
$icon-highlight_off: "\e888";
$icon-info: "\e88e";
$icon-info_outline: "\e88f";
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-reorder: "\f0c9";
$icon-caret-down: "\f0d7";
$icon-sort: "\f0dc";
$icon-unsorted: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-down: "\f0dd";
$icon-sort-asc: "\f0de";
$icon-sort-up: "\f0de";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-home3: "\e902";
$icon-office: "\e903";
$icon-images: "\e90e";
$icon-connection: "\e91b";
$icon-bubbles: "\e96c";
$icon-bubbles4: "\e970";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-cross: "\ea0f";
